[submodule "kubectx"]
	path = kubectx
	url = git@github.com:ahmetb/kubectx.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/.zsh/.oh-my-zsh"]
	path = zsh/.zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.zshrc.d/themes/powerlevel10k"]
	path = zsh/.zshrc.d/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.zshrc.d/plugins/zsh-completions"]
	path = zsh/.zshrc.d/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zshrc.d/plugins/zsh-syntax-highlighting"]
	path = zsh/.zshrc.d/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zshrc.d/plugins/zsh-autosuggestions"]
	path = zsh/.zshrc.d/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zshrc.d/plugins/you-should-use"]
	path = zsh/.zshrc.d/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
